---
import Layout from "../layouts/Layout.astro";
import { LoginForm } from "../components/auth/LoginForm";
---

<Layout>
  <div class="h-screen w-full flex items-center justify-center bg-muted/20">
    <LoginForm client:load />
  </div>
</Layout>
